@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  /* Colores */
  --color-primary-tomato: #ff6257;
  --color-neutral-dark-slate-gray: #242742;
  --color-neutral-charcoal-gray: #36384e;
  --color-neutral-gray: #9294a0;
  --color-neutral-white: #ffffff;

  /* Fonts */
  --font-size: 16px;
  --font-family: 'Roboto', sans-serif;
  --font-weight-1: 400;
  --font-weight-2: 700;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: var(--font-size);
  background-color: var(--color-neutral-charcoal-gray);
  min-height: 100vh;
  display: grid;
  place-content: center;
}

.card {
  display: flex;
  background-color: var(--color-neutral-white);
  border-radius: 20px;
  padding: 20px 0;
  margin-bottom: 10px;
}

.img-mobile {
  display: none;
}

.img-desktop {
  display: flex;
}

.card-title {
  color: var(--color-neutral-dark-slate-gray);
  font-size: 60px;
  text-align: left;
  font-weight: var(--font-weight-2);
}

.card-subtitle {
  font-family: var(--font-family);
  font-weight: var(--font-weight-1);
  color: var(--color-neutral-charcoal-gray);
  text-align: left;
  position: relative;
  margin-top: 30px;
  width: 25rem;
  left: 5px;
}

ul {
  list-style: none;
  position: relative;
  margin-top: 10px;
  left: 5px;
}

.email-form {
  position: relative;
  left: 5px;
  width: 100px;
  margin-top: 50px;
}

#email {
  margin-bottom: 20px;
  margin-top: 10px;
  padding-left: 20px;
  height: 40px;
  width: 330px;
  border: 1px solid;
}

.btn-subscribe {
  height: 45px;
  width: 355px;
  color: var(--color-neutral-white);
  background-color: var(--color-neutral-charcoal-gray);
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in-out;
}

em {
  font-size: 13px;
  position: absolute;
  right: 40px;
  color: var(--color-primary-tomato);
  vertical-align: middle;
  font-weight: 700;
}

.msg-success {
  background-color: var(--color-neutral-white);
  margin-top: 10px;
  width: 450px;
  height: 450px;
  text-align: left;
  padding: 55px;
  border-radius: 20px;
  display: grid;
  margin-bottom: 10px;
}

.content-side {
  padding: 30px 60px 30px 30px;
}

.list-icon {
  margin-right: 10px;
  vertical-align: middle;
}

li {
  line-height: 2;
  font-weight: var(--font-weight-1);
  font-family: var(--font-family);
  color: var(--color-neutral-dark-slate-gray);
}

.img-side {
  position: relative;
  right: 20px;
}

label {
  font-size: 14px;
  font-weight: var(--font-weight-2);
}

#email,
.btn-subscribe {
  border-radius: 10px;
  outline: none;
}

span {
  font-weight: var(--font-weight-2);
}

.btn-subscribe:active,
.btn-subscribe:hover {
  background-image: linear-gradient(90deg, rgba(255, 98, 87, 1) 0%, rgba(255, 136, 77, 1) 100%);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

.thanks-title {
  margin-top: 30px;
  font-size: 4rem;
  color: var(--color-neutral-dark-slate-gray);
}

.thanks-text {
  box-sizing: border-box;
  color: var(--color-neutral-charcoal-gray);
  margin: 0;
  padding: 0;
  display: block;
  font-size: 1.2rem;
  font-weight: var(--font-weight-1);
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.success-icon {
  height: 80px;
  width: 80px;
}

.btn-dismiss {
  background-color: var(--color-neutral-dark-slate-gray);
  border: none;
  border-radius: 0.8rem;
  color: var(--color-neutral-white);
  cursor: pointer;
  display: block;
  font-family: var(--font-family);
  font-size: 1.2rem;
  font-weight: bold;
  height: 60px;
  margin-top: 1rem;
  padding: auto;
  width: 100%;
}

.btn-dismiss:hover {
  background-image: linear-gradient(90deg, rgba(255, 98, 87, 1) 0%, rgba(255, 136, 77, 1) 100%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--color-neutral-white);
}

.attribution a {
  color: var(--color-neutral-white);
  padding: 2px;
  border-radius: 10px;
  text-decoration: none;
  background-color: var(--color-primary-tomato);
}

@media screen and (max-width: 800px) {

  .card {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
    width: 375px;
  }

  .img-desktop {
    display: none;
  }

  .img-mobile {
    display: flex;
    position: relative;
    left: 20px;
  }

  .card-title {
    font-size: 40px;
  }

  .card-subtitle {
    margin-top: 20px;
    width: 300px;
  }

  ul {
    margin-top: 20px;
    width: 300px;
  }

  li {
    display: flex;
    align-items: flex-start;
    flex-flow: row nowrap;
  }

  .email-form {
    position: relative;
    left: 0;
    margin-top: 50px;
  }

  #email {
    width: 300px;
  }

  .btn-subscribe {
    width: 325px;
  }

  em {
    right: -20px;
  }

  .msg-success {
    display: block;
    height: 320px;
    width: 320px;
  }

  .btn-dismiss {
    margin-top: 300px;
  }
}